html,
body {
    height: 100%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-size: 1.2em;
}

button {
    display: inline-block;
    width: 100%;
}

select{
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type=submit] {
    display: inline-block;
}

label {
    text-align: center;
    display: inline-block;    
    margin-bottom: 10px;
    font-size:1.2em;
}

button {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    padding: 5px;
}

button:hover {
    background-color: aqua;
    color: #000;

}

.move-to-left {
    display: inline-block;
    padding: 5px;
}

.input-row {
    margin-bottom: 10px;
}

.container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.playlist-specification {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 2em;
}

.number-details {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-green {
    background-color: rgb(6, 255, 222);
}

.bg-red {
    background-color: red;
}

.bg-yellow{
    background-color:rgb(255, 230, 6)
}

.number-details > p{
    display: inline-block;
    padding: 5px;
    font-size:1.2em;
    padding: 10px;
}

.number-details > h1{
    display: inline-block;
    padding: 5px;
    font-size:1.6em;
}