html,
body {
  box-sizing: border-box;
  height: 100%;
  font-size: 1em;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-size: 2em;
}

p {
  padding: 0;
  margin: 20px 0;
}